// цвета
$main-bg: #1b1b1a;
$main-text: #fff;
$gold-highlight: #ffcf7a;
$gray-text: #6d6d6d;
$header-text: #949494;

// шрифты

@import url("../fonts/lab-grotesque/_font-lab-grotesque.css");
@import url("../fonts/scania-sans-cy/_font-scania-sans-cy.css");

$lab-grotesque: "Lab Grotesque", sans-serif;
$scania-headline: "Scania Sans CY Headline", sans-serif;
$scania: "Scania Sans CY", sans-serif;
